@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@700&display=swap');
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kadwa{
  font-family: 'Kadwa';
}
.koh{
  font-family: 'Koh Santepheap';
}
